:root{
    --back:aliceblue;
    --second:#C68FE6;
    --q_box:#708090;
    --crct:#14e55d;
    --incrct:rgba(210, 19, 19, 0.705);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body , html {
    width: 100vw;
    height: 100vh;
    background-color: var(--back);
}

.hide{
    display: none;
}
.show{
    display:flex;
}
.container{
    background-color: var(--back);
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.titl{
    font-size: 1.8rem;
    font-weight: 300;
    font-family: fantasy;
}
.wrap
{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.question-box{
    width: 80%;
    height: 18%;
    display: flex;
    justify-content: space-evenly;
    flex-direction:row ;
}
.boxes{
    width: 10%;
    height: 80%;
    border: 3px solid var(--second);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* animation */
.boxes:hover {
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background-color:#B9B4C7;
}

/* Define the shadow-drop-2-center animation */
@-webkit-keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: translateZ(50px);
                transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-2-center {
    0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}
/* end */

.boxes img{
    width: 3vw;
    height: 3vw;
}

.question_cont{
    width: 100vw;
    height: 100vh;
    background-color: var(--back);
    justify-content: center;
    align-items: center;
}
.question_box{
    width:40%;
    height: 60%;
    background-color:var(--q_box);
    border-radius: 20px;
    z-index: 100;
    -webkit-box-shadow: 5px 0px 50px -14px #000000; 
    box-shadow: 5px 0px 50px -14px #000000;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-family: monospace;
    justify-content: space-around;
}

.quest{
    background-color: #ffffff48;
    border-radius: 20px;
    width: 100%;
    height: 30%;
    display: flex;
    text-align: center;
    align-items: center;
    direction: ltr;
    font-size: 1.5em;
    font-weight: 700;
    font-family: monospace;
}
.first_Two_Up_btn{
    width: 100%;
    height: 23%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.second_Two_up_btn{
    width: 100%;
    height: 23%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.btn{
    width: 40%;
    height: 100%;
    background-color: #ffffff48;
    display: flex;
    border-radius: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    
}
.btn p{
    width: 70%;
    height: 100%;
    font-size: 1.2em;
    direction: ltr;
    display: flex;
    margin: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    direction: ltr;
}
.correct{
    background-color: var(--crct);
}
.incorrect{
    background-color: var(--incrct);
}